<div class="layout-wrapper">
    <app-header></app-header>
    <div class="layout-main-container">
        <div class="layout-main">
            <router-outlet></router-outlet>
            <!-- <ngx-spinner
                bdColor="#fff"
                size="medium"
                color="#ED6B2D"
                z-index="999999999999999999999999999999"
                [fullScreen]= "true"
                template="<img src='../assets/loader.gif' style='width: 500px'/>"  >
            </ngx-spinner> -->
        </div>
        <!-- <app-footer></app-footer> -->
    </div>
</div>